.container {   
    width: 300px;
    height: 600px;
    margin: 50px auto;
}

.container .head{
    text-align: center;
    margin-bottom: 0px;
}

.container .card{
    display: none;
    position: relative;
    width: 300px;
    height: 500px;
    margin: 0px auto 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .head h1{
    text-align: center;
    color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .head .change-location label{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: small;
    
}

.container .head .change-location input{
    border:1px solid lightblue;
    padding: 7px;
    width: 100%;
    margin: 5px 0px;
}

.container .card .time{
    position: absolute;
    width: 400px;
    height: 300px;
}

.container .card .icon{
    height: 50px;
    width: 100px;
    position: absolute;
    left: 50%;
    bottom: 170px;
    margin-left: -50px;
    border-radius: 100%;
    background-color: #ddd;
    
}

.container .card .details h5{
    margin: 10px 0px;
    font-weight: bold;
    font-size: 2em;  
}

.container .card .details{
    position: absolute;
    bottom: 20px;
    margin: 10px;
}

.container .time{
    position: absolute;
    max-width: 300px;
    height: 50%;
}